.product_wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.top_section {
  display: flex;
  gap: 30px;
  width: 100%;
}

.product_name {
  font-size: 48px;
  margin-bottom: 40px;
  font-weight: 500;
}

.product_price {
  font-size: 26px;
  font-weight: 600;
}

.price_box {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}

.product_icon {
  /*todo: repeated element*/
  width: 20px;
  height: 20px;
  fill: #000;
  transition: all 0.4s;
  cursor: pointer;

  &:hover {
    transform: scale(1.5);
  }
}

.product_info_label {
  line-height: 22px;
}

.cart_info {
  margin-top: 40px;
  display: flex;
  gap: 32px;

  input {
    width: 71px;
    height: 48px;
    background: #f7f6f6;
    border-radius: 6px;
    border: none;
    box-sizing: border-box;

    font-weight: 600;
    font-size: 14px;
    line-height: 210%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    padding-right: 24px;
    padding-left: 20px;

    &:focus {
      outline: none;
    }
  }
}

.details {
  width: 798px;
}

.description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 14px 12px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;

  svg {
    width: 24px;
    height: 24px;
  }
}

.description_text {
  font-size: 16px;
  margin-bottom: 24px;
  padding-left: 10px;
}

.title {
  font-size: 16px;
  text-transform: uppercase;
}

.highlights_list {
  list-style: inside;
}

.image_grid {
  height: 500px;
  width: 789px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 24px 30px;
  grid-template-areas:
    'image_2 image_1'
    'image_3 image_1'
    'image_4 image_1';
}

.image {
  cursor: pointer; /*todo: optimize image sizing*/
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image_1 {
  grid-area: image_1;
  width: 584px;
}

.image_2 {
  grid-area: image_2;
}

.image_3 {
  grid-area: image_3;
}

.image_4 {
  grid-area: image_4;
}

.image_2,
.image_3,
.image_4 {
  width: 174px;
  height: 150px;
}
