.product_box {
  margin-top: 12px;
  margin-bottom: 48px;
}

.searched_product_box {
  margin-top: 64px;
}

.empty_search {
  letter-spacing: 1px;
}

.product_content {
  display: flex;
  row-gap: 56px;
  flex-wrap: wrap;
  column-gap: 32px;
  justify-content: flex-start;
}

.product-content_catalog {
  margin-top: 41px;
}

.product {
  width: 370px;
  min-height: 384px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 20px 5px #888888;
}

.product_img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.heading {
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 32px;
}

.product_name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 10px;
  padding-left: 5px;
}

.product_text {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #888888;
  margin-bottom: 13px;
  margin-top: 9px;
  padding-left: 5px;
}

.product_price_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 0 5px 20px;
  flex-grow: 1;
}

.product_price {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
  padding-right: 32px;
}

.product_price_sale {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
}

.product_icons {
  display: flex;
  gap: 12px;
  padding-right: 5px;
  transition: 0.4s;
}

.product_icon {
  width: 20px;
  height: 20px;
  fill: #000;
  transition: all 0.4s;
}

.product_icon:hover {
  transform: scale(1.5);
}

.product_icon:active {
  /*add animation on onLoading*/
}
