.button {
  background-color: #fff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  transition: 0.4s;
  &:hover {
    transform: scale(1.05);
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
  }
}

.button.md {
  width: 200px;
  height: 37px;
}

.button.sm {
  width: 100px;
  height: 37px;
}

.button.lg {
  width: 290px;
  height: 41px;
}

.button_active {
  background-color: #000;
  border: 1px solid #000000;
  color: #fff;
}

.button_disabled {
  pointer-events: none;
  opacity: 0.5;
}
