.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

.cart_content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-column: span 8;
}

.cart_content_top {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.cart_text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 14px;
  padding-right: 35px;
}
