.catalog_link {
  display: inline-block;
  margin-bottom: 64px;
  margin-top: 39px;

  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #000000;
  margin-top: 32px;
  transition: 0.4s;
}
