.dialog {
  /*todo: fixed scrolling to the top*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  overscroll-behavior: contain;
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.dialog_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.dialog_title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.close_button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 4px 4px 0 4px;
  color: #999;
  transition: color 0.2s ease;
  color: black;
}

.close_button:hover {
  background-color: #e4e4e4;
  border-radius: 4px;
}

.dialog_body {
  padding: 20px 0;
  color: #555;
  font-size: 16px;
  line-height: 1.5;
}

.dialog_body p {
  margin: 0;
  padding-bottom: 20px;
}

.modal_buttons {
  display: flex;
  gap: 10px;
}

.modal_button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal_button:hover {
  opacity: 0.8;
}

.modal_button.ok_button {
  background-color: black;
  color: white;
}

.modal_button.ok_button:hover {
  background-color: #4d4d4d;
}

.modal_button.cancel_button {
  background-color: #f0f0f0;
  color: #333;
}

.modal_button.cancel_button:hover {
  background-color: #e0e0e0;
}

.dialog_container {
  padding: 20px;
}

.progressModalContent {
  padding: 20px;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}

.modalDescription {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #444;
}

.progressList {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.progressItem {
  padding-left: 20px;
  position: relative;
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

.progressItem::before {
  content: '\25A0';
  position: absolute;
  left: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
}

.thankYouMessage {
  font-size: 14px;
  color: #666;
  margin-top: 15px;
  font-style: italic;
}
