* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.logo {
  transition: all 0.4s;
  &:hover {
    transform: scale(1.05);
  }
}

.logo_invert {
  filter: invert(1);
}
