.dropdown {
  color: #000000;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 20px;
  width: 200px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  position: relative;
  height: 41px;
}

.button {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  border-radius: 10px;
  padding: 4px;

  transform: translateY(0);
  transition: all 2s;
}

.button:hover,
.button.active_option {
  background-color: #ede4e4;
}

.toggle_button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.toggle_button:hover {
  background-color: transparent;
}

.toggle_button_icon {
  width: 24px;
  height: 24px;
}

.dropdown_content {
  display: none;
  position: absolute;
  z-index: 1000;
  transform: translateY(0);
  transition: all 2s;
}

.dropdown_content.visible {
  left: 0;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 20px;
  width: 200px;
  padding: 10px 15px;

  transform: translateY(0);
  transition: all 2s;
}
