.breadcrumb {
  list-style-type: none;
  display: flex;
  margin: 20px 0;
}

.breadcrumb li + li::before {
  line-height: 32px;
  color: #000000;
  content: '/\00a0';
  padding: 0 5px;
  text-decoration: none;
  display: inline-block;
}

.list_link {
  line-height: 32px;
  color: #000000;
  padding: 10px 0;
  transition: 0.4s;

  &:hover {
    text-decoration: underline;
    color: #888888;
  }
}

.lastItem {
  pointer-events: none;

  &:hover {
    text-decoration: none;
    color: #000000;
  }
}
