.form {
  position: relative;
  width: 366px;
  padding: 30px 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #fff;
}

.form_close_button {
  position: absolute;
  right: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  transition: all 0.4s;
}

.form_close_button:hover {
  transform: scale(1.5);
}

.form_heading {
  font-size: 26px;
  line-height: 70px;
}

.form_inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form_input {
  width: 100%;
  padding: 4px 8px;
  border: 1px solid #d0cece;
  font-weight: 400;
  font-size: 18px;
  line-height: 38px;
}

.form_input::placeholder {
  color: #888888;
}

.form_buttons {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  font-weight: 400;
  color: #050505;
}

.signup_text {
  font-size: 14px;
}

.go_to_link {
  text-decoration: underline;
  color: #000;
}
